{% extends "base.html" %}

{% block title %} {{ userform.username }} - Battleship {% endblock %}


{% block content %}

    <div id="item">
        <h3> {{ userform.username }} </h3>
        
        {% ifequal user userform %}
        <center><a href="submit/">submit</a> a new program. </center>
        {% endifequal %}
        
        <p align='right'> Last login: {{ userform.last_login }}</p>
    </div>
    <br />
    
    
    {% if programs %}
    <div id="item">
    <h3> Programs </h3>
        The user is responsible for the following programs: <br />
        <center>
        <table style="border: 1px dashed black; padding: 4px;"><tr><td> name <td> win fraction 
        {% for prog in programs %}
        
        <tr><td> <a href="programs/{{ prog.name }}">{{ prog.name }}</a> <td> {{ prog.winpercentage|floatformat:4 }}
        
        {% endfor %}
        </table>
        </center> 
    </div><br />
    {% endif %}

{% endblock %}
