{% extends "base.html" %}

{% block title %} Programs - Battleship {% endblock %}

{% block content %}

<div id="item">
Below is a list of all of the current programs.  The first number is the win fraction of the program.
</div>
<br />

{% for entry in programs %}
    <div id="item">
    <h2> {{ "%.3f"|format(entry.winpercentage) }} |  <a href="programs/{{ entry.name }}.html">{{ entry.name }}</a> 
    <span id="description"> {{ entry.description }}  | {{entry.language}} </span> 
     </h2>
        <p align='right'> Created on: {{ entry.creation_date }} by 
        {{ entry.author }} </p>
    </div><br />
{% endfor %}
{% endblock %}


