{% extends "base.html" %}

{% block title %} Game Detail - Battleship {% endblock %}


{% block content %}
<div id="item">
    <h2> <a href="games/{{ game.id }}">{{ game.id }}</a> 
        |  ( <a href="programs/{{ game.player1.name }}.html">{{ game.player1.name }}</a> 
                <span id="description"> by {{ game.player1.author }} </span> )
    vs ( <a href="programs/{{ game.player2.name }}.html">{{ game.player2.name }}</a> 
                <span id="description"> by {{ game.player2.author }}</span> )
        <span id="description"> won by </span><a href="programs/{{ game.winner.name }}.html">{{ game.winner.name }}</a> </h2>
        
    <p> Game took {{ "%.3f"|format(game.duration) }} seconds to play, and lasted {{ game.turns }} turns.  </p>   
    <p> The winner had {{ game.remaininghealth }} spaces remaining at the end. </p> 

    {% if game.failwhale %} <font color="red">Game had a failwhale!</font> {% endif %}

    <p align='right'> Played on: {{ game.played_time }}</p>
</div>

    <br /><div id="item"> 
    <h3> Summary of moves </h3>
    <br />
    {{ game.moves }}
    </div>


<br />
{% endblock %}
