{% extends "base.html" %}

{% block title %} Games - Battleship {% endblock %}

{% block content %}


{% for group in extra|groupby('pair') %}
    <div id="item">
    <h1> <a href="programs/{{ group.grouper[0] }}.html">{{ group.grouper[0] }}</a> 
         <span style="color: black; font-size: 0.8em;">vs</span>  <a href="programs/{{ group.grouper[1] }}.html">{{ group.grouper[1] }}</a> </h1><br />
    <div style="padding-left: 1em;">
    <ul>
        {% for group2 in group.list|groupby('firstplayer') %}
            <h3> <a href="programs/{{ group2.grouper }}.html">{{ group2.grouper }}</a> as first player </h3> <br>
            
            <p> Games by id: 
                  
                    {% for item in group2.list %} 
                    |
                     <a href="games/{{ item['game'].id }}.html"> 
                    {% if item['game'].winner.name==item['game'].player1.name %} 
                    <span style="color: green">
                    {% else %} <span style="color: red" > 
                    {% endif %}
                    {{ item['game'].id }} 
                    </span>                    
                    </a> 

                 
                    {% endfor %}
            </p>
            <br />
            
             
        {% endfor %}
    </ul>
            <br />
    </div>

    </div> <br />
{% endfor %}



{% endblock %}


