.about-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.boards {} 

.board {
    width: 50%;
    display: block;
    float: left;
}

.playername {
    font-size: 2em;
    padding: 1em;
    margin: auto;
}

.board0 {} 
.board1 {}
