{% extends "base.html" %}

{% block content %}

<div id="item">
    <h3> Battleship - the programming game </h3>
    <p> Welcome to the programming game.  Details about the API for submission 
    can be found at the <a href="about/">about</a> page above.  </p>
</div><br />


<div id="item">
<h3> Leaderboard </h3>
<center>
<table style="border: 1px dashed black; padding: 10px;" cellpadding=10>
<tr><td> rank <td> win <td> name <td> lang <td> creator
    {% for prog in programs %}
    <tr> <td> {{ loop.index }}
    <td> {{ "%.3f"|format(prog.winpercentage) }}
    <td> <a href="programs/{{ prog.name }}.html">{{ prog.name }}</a>
    <td> {{ prog.language }}
    <td> {{ prog.author }} 
    {% endfor %}
</table>
</center>
</div><br />

{% endblock %}
